# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33702 non-null  object
 1   Job Titles         33702 non-null  object
 2   Department         33702 non-null  object
 3   Full or Part-Time  33702 non-null  object
 4   Salary or Hourly   33702 non-null  object
 5   Typical Hours      8174 non-null   float64
 6   Annual Salary      25528 non-null  float64
 7   Hourly Rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
data.isnull().sum()/len(data)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
data.groupby(data['Salary or Hourly']).size().reset_index(name='Count')

  Salary or Hourly  Count
0           Hourly   8174
1           Salary  25528

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
data.groupby(data['Department']).size().reset_index(name='Count')

             Department  Count
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [21]:
something = data['Hourly Rate'].dropna()
something

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [22]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(something) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(something)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(something) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [23]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

#### This means that in 95% of the times we took measurements of the mean of a sample from the population, the mean value will fall between 34.298 and 34.875.

#### Hourly wage of all hourly workers is different from $30. This will be the alternative.

#### Our Null will be: Hourly wage of all hourly workers is $30.

#### Ho -----> Hourly Rate = 30   This is the NULL

#### H1 -----> Hourly Rate != 30    This is the alternative

In [24]:
from scipy import stats
stats_value, pvalue = stats.ttest_1samp(something,30)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue)

Stat_Score =   31.211500329216044
Pvalue =   3.825475847673794e-202

#### We Reject the Null Hypothesis since the p-value < 0.05...
#### So...the hourly wage of all hourly workers is different from $30/hr
#### The positive Stat_Score tells us that it's likely to be above 30, because its positive.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

#### Salaries from this year are higher than 86000. This will be the alternative.

#### Our Null will be: Salaries are lower or equal than 86000.

#### Ho -----> Salary <= 86000   This is the NULL

#### H1 -----> Salary > 86000    This is the alternative

In [10]:
# Your code here:

groups = data.groupby(by=['Department'])
groups = groups.apply(lambda g: g[g['Department'] == 'POLICE'])
groups = groups['Annual Salary'].dropna()

In [13]:
from scipy import stats
stats_value, pvalue = stats.ttest_1samp(groups,86000)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue/2)

Stat_Score =   18.51748561981861
Pvalue =   6.119566952121482e-76

#### We Reject the Null Hypothesis since the p-value < 0.05...
#### So...the salaries from this year are higher than the last year's mean for all salaried employees.

Using the `crosstab` function, find the department that has the most hourly workers.

In [108]:
# Your code here:
data_crosstab = pd.crosstab(data['Department'],columns = data['Salary or Hourly'], values = data['Salary or Hourly'], aggfunc='count', margins = False).drop(['Salary'], axis =1)

data_crosstab[data_crosstab.Hourly == data_crosstab.Hourly.max()]

Salary or Hourly  Hourly
Department
STREETS & SAN     1846.0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

#### Wages the department with the most hourly workers are less than $35. This will be the alternative.

#### Our Null will be: Wages are higher or equal than $35.

#### Ho -----> Wages >= 35   This is the NULL

#### H1 -----> Wages < 35    This is the alternative

In [92]:
# Your code here:
streets = data.groupby(by=['Department'])
streets = streets.apply(lambda g: g[g['Department'] == 'STREETS & SAN'])
streets = streets['Hourly Rate'].dropna()

In [153]:
from scipy import stats
stats_value, pvalue = stats.ttest_1samp(streets,35)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue/2)

Stat_Score =   4.000138803968834
Pvalue =   3.2902372218867895e-05

In [154]:
streets.mean()

35.55229685807062

### I'm completely lost here...I think the wages are slightly higher, but the test don't support that.
### Don't know how to look to this results:
#### We Reject the Null Hypothesis since the p-value < 0.05...
#### So... their hourly wage is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [146]:
# Your code here:
hourly = data.groupby(by=['Salary or Hourly'])
hourly = hourly.apply(lambda g: g[g['Salary or Hourly'] == 'Hourly'])
hourly = hourly['Hourly Rate'].dropna().reset_index()
hourly = hourly.drop(['level_1','Salary or Hourly'],axis =1)
hourly = hourly.squeeze() # to convert the dataframe into a series, so it returns a number and not an array after this step

In [147]:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(hourly) - 1 
sample_mean = np.mean(hourly)
sample_standard_error = scipy.stats.sem(hourly)
sample_standard_error
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [148]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [149]:
# Your code here:
import scipy.stats
confidence_level = 0.95
degrees_freedom = len(groups) - 1 
sample_mean = np.mean(groups)
sample_standard_error = scipy.stats.sem(groups)
sample_standard_error
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [150]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: